<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaochengshu">
    <!-- 腾讯地图 SDK 要求的权限(开始) -->
    <!-- 访问网络获取地图服务 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 检查网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 访问手机当前状态, 需要device id用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 访问蓝牙状态，需要蓝牙信息用于网络定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持A-GPS辅助定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于 log 日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xiaochengshu"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".FocusActivity"
            android:exported="true" />
        <activity
            android:name=".CollectDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".FansActivity"
            android:exported="true" />
        <activity
            android:name=".addImg_Dialog_Activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".SetActivity"
            android:exported="true" />
        <activity
            android:name=".LocationActivity"
            android:exported="true" />
        <activity
            android:name=".DaoruActivity"
            android:exported="true" />
        <activity
            android:name=".edit_trip"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PunchActivity"
            android:exported="true" />
        <activity
            android:name=".CreateTripActivity"
            android:exported="true" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="true" />
        <activity
            android:name=".CreateIntroductionActivity"
            android:exported="true" />
        <activity
            android:name=".TripActivity"
            android:exported="true" />
        <activity
            android:name=".zhengzaidaka"
            android:exported="true" />
        <activity
            android:name=".SearchPOIActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>

        <meta-data
            android:name="TencentMapSDK"
            android:value="AK5BZ-BNFCW-7QHR3-OZAUC-WUO33-SEBJZ" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>